In [20]:
import pandas as pd
import numpy as np
import seaborn as sns
import random
import matplotlib
from matplotlib import animation
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation
from itertools import count
%matplotlib qt

In [21]:
dfs = []
for i in range(1,22):
    dfs.append(pd.read_csv('C:\\Users\\Shlomit\\Desktop\\Data-Science-project-2\\drawings pandas\\train\\7554\\SimpleTest\\' + str(i) + '.csv'))

In [22]:
for df in dfs:
    df[' Time'] = pd.to_datetime(df[' Time'])

In [23]:
dfs[0].columns

Index(['X', ' Y', ' Pressure', ' TiltX', ' TiltY', ' Time'], dtype='object')

In [24]:
dfs[0][' Time'][0].second

36

In [25]:
dfs[0]

,X,Y,Pressure,TiltX,TiltY,Time
0,925.902760133965,665.541979,0.045884,-4917.0,669.0,2022-06-12 00:12:36
1,925.902760133965,665.541979,0.045884,-4917.0,669.0,2022-06-12 00:12:37
2,926.692689687031,665.647303,0.082506,-4917.0,669.0,2022-06-12 00:12:38
3,927.008661508257,665.647303,0.115953,-4917.0,669.0,2022-06-12 00:12:39
4,927.324633329484,665.594641,0.140368,-4917.0,669.0,2022-06-12 00:12:41
...,...,...,...,...,...,...
129,584.863841090195,646.846980,0.386954,-4510.0,1946.0,2022-06-12 00:14:03
130,584.653193209377,646.741656,0.386954,-4501.0,1991.0,2022-06-12 00:14:04
131,584.653193209377,646.741656,0.389151,-4501.0,1991.0,2022-06-12 00:14:05
132,Time Elapsed till drawing started: 00:11.2234987,NaN,NaN,NaN,NaN,NaT
133,Time Elapsed till drawing submit: 00:17.1449348,NaN,NaN,NaN,NaN,NaT

In [11]:
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation
%matplotlib qt

fig = plt.figure(figsize=(6,4))
axes = fig.add_subplot(1,1,1)
plt.title("Dynamic Axes")

y1 = dfs[1][' Y']
t = dfs[1]['X']
x,y=[] , []

def animate(i):
    x.append(t[i])
    y.append((y1[i]))
    plt.plot(x,y, scaley=True, scalex=True, color="green")

FuncAnimation(fig, animate, interval=100)

In [13]:
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation
%matplotlib qt

fig = plt.figure(figsize=(6,4))
axes = fig.add_subplot(1,1,1)
plt.title("Dynamic Axes")

y1 = [random.randint(-10,10)+(i**1.6)/(random.randint(9,12)) for i in range(0,280,2)]
t = range(len(y1))
x,y=[], []

def animate(i):
    x.append(t[i])
    y.append((y1[i]))
    plt.xlim(i-30,i+3)
    axes.set_ylim(y1[i]-100, y1[i]+100)
    plt.plot(x,y, scaley=True, scalex=True, color="red")

anim = FuncAnimation(fig, animate, interval=100)
anim

In [26]:
plt.plot(dfs[0]['X'],dfs[0][' Y'])
plt.show()