In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

### import data-set

In [3]:
hof = pd.read_csv('C:\\Users\\Shlomit\\Desktop\\Data-Science-project-2\\Improvement_of_hall_of_fame_project\\HOF-DF.csv')

In [4]:
hof

,PLAYER_NAME,GP,GS,MIN,FG,3P,FT,REB,AST,STL,...,T1,T2,T3,DT1,DT2,Seasons,Playoffs,Finals,Titles,HOF
0,Alaa Abdelnaby,256,53,12.5,50.2,0.0,70.1,3.3,0.3,0.300000,...,0,0,0,0,0,5,3,1,0,0
1,Tariq Abdul-Wahad,236,145,20.4,41.7,23.7,70.3,3.3,1.1,0.800000,...,0,0,0,0,0,6,2,0,0,0
2,Tom Abernethy,319,0,17.0,49.2,0.0,74.7,3.2,1.2,0.600000,...,0,0,0,0,0,5,2,0,0,0
3,Forest Able,1,0,1.0,0.0,NaN,0.0,1.0,1.0,0.476032,...,0,0,0,0,0,1,0,0,0,0
4,Don Ackerman,28,0,7.9,22.2,NaN,53.6,0.5,0.8,0.476032,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3168,Wes Unseld,984,0,36.4,50.9,50.0,63.3,14.0,3.9,1.100000,...,1,0,0,0,0,13,12,4,1,1
3169,Bill Walton,468,117,28.3,52.1,0.0,66.0,10.5,3.4,0.800000,...,1,1,0,2,0,10,4,3,2,1
3170,Chris Webber,831,827,37.1,47.9,29.9,64.9,9.8,4.2,1.400000,...,1,3,1,0,0,15,10,0,0,1
3171,Larry Bird,897,870,38.4,49.6,37.6,88.6,10.0,6.3,1.700000,...,9,1,0,0,3,13,12,5,3,1
3172,Maurice Stokes,202,0,37.3,35.1,NaN,69.8,17.3,5.3,1.469048,...,0,3,0,0,0,3,1,0,0,1

## scraping more stats

In [5]:
abc = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t', 'u' , 'v' , 'w' , 'y' , 'z']
url_abc = []
url = 'https://en.hispanosnba.com/players/nba-all/'
for a in abc:
    url_abc = url_abc + [url + a]
requ = requests.get(url)
soup = BeautifulSoup(requ.content , 'html.parser')   

url_players = [] 
url_start = 'https://en.hispanosnba.com'
for url in url_abc:
    requ_b = requests.get(url)
    soup_b = BeautifulSoup(requ_b.content , 'html.parser')
   
    table_b = soup_b.find('tbody')
    find_name = table_b.find_all('a')
    
    for name in find_name:
        name = str(name)
        name = name.split('"')
        url_players = url_players + [url_start + name[1] + '/stats']

In [6]:
players_name = []
for url_name in url_abc:
    requ_name = requests.get(url_name)
    soup_name = BeautifulSoup(requ_name.content , 'html.parser')
    tbody = soup_name.find('tbody')
    a_name = tbody.find_all('a')
    for name in a_name:
        name = str(name)
        name = name.split('"')
        players_name = players_name + [name[3]]

In [9]:
position = []
for player in url_players:
    player = player[:-6]
    requ_c = requests.get(player)
    soup_c = BeautifulSoup(requ_c.content , 'html.parser')
    b = soup_c.find_all('p' , class_ = 'jugcabh')
    b = str(b)
    b = b.split('>')
    b = b[2][:-6]
    position.append(b)

    
for i in range(0,len(position)-1):
    position[i] = position[i].split('/')[0]
    if position[i] == 'Point guard':
        position[i] = 1
    elif position[i] == 'Shooting guard':
        position[i] = 2
    elif position[i] == 'Small forward':
        position[i] = 3
    elif position[i] == 'Power forward':
        position[i] = 4
    else:
        position[i] = 5

In [10]:
data = {'PLAYER_NAME': players_name , 'position': position}
df_position = pd.DataFrame(data) 
df_position

              PLAYER_NAME                      position
0          Alaa Abdelnaby                             4
1         Zaid Abdul-Aziz                             4
2     Kareem Abdul-Jabbar                             5
3      Mahmoud Abdul-Rauf                             1
4       Tariq Abdul-Wahad                             2
...                   ...                           ...
4823             Jim Zoet                             5
4824            Bill Zopf                             1
4825         Brian Zoubek                             5
4826          Ivica Zubac                             5
4827           Matt Zunic  Shooting guard/Small forward

[4828 rows x 2 columns]

In [19]:
df_position.to_csv('C:\\Users\\Shlomit\\Desktop\\HOF-DF-pos.csv')

In [11]:
df = pd.merge(hof , df_position , how = 'left' , on = 'PLAYER_NAME')

In [12]:
df

,PLAYER_NAME,GP,GS,MIN,FG,3P,FT,REB,AST,STL,...,T2,T3,DT1,DT2,Seasons,Playoffs,Finals,Titles,HOF,position
0,Alaa Abdelnaby,256,53,12.5,50.2,0.0,70.1,3.3,0.3,0.300000,...,0,0,0,0,5,3,1,0,0,4
1,Tariq Abdul-Wahad,236,145,20.4,41.7,23.7,70.3,3.3,1.1,0.800000,...,0,0,0,0,6,2,0,0,0,2
2,Tom Abernethy,319,0,17.0,49.2,0.0,74.7,3.2,1.2,0.600000,...,0,0,0,0,5,2,0,0,0,3
3,Forest Able,1,0,1.0,0.0,NaN,0.0,1.0,1.0,0.476032,...,0,0,0,0,1,0,0,0,0,2
4,Don Ackerman,28,0,7.9,22.2,NaN,53.6,0.5,0.8,0.476032,...,0,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226,Wes Unseld,984,0,36.4,50.9,50.0,63.3,14.0,3.9,1.100000,...,0,0,0,0,13,12,4,1,1,5
3227,Bill Walton,468,117,28.3,52.1,0.0,66.0,10.5,3.4,0.800000,...,1,0,2,0,10,4,3,2,1,5
3228,Chris Webber,831,827,37.1,47.9,29.9,64.9,9.8,4.2,1.400000,...,3,1,0,0,15,10,0,0,1,4
3229,Larry Bird,897,870,38.4,49.6,37.6,88.6,10.0,6.3,1.700000,...,1,0,0,3,13,12,5,3,1,3
3230,Maurice Stokes,202,0,37.3,35.1,NaN,69.8,17.3,5.3,1.469048,...,3,0,0,0,3,1,0,0,1,4

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3231 entries, 0 to 3230
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PLAYER_NAME  3231 non-null   object
 1   GP           3231 non-null   int64
 2   GS           3231 non-null   int64
 3   MIN          3179 non-null   float64
 4   FG           3231 non-null   float64
 5   3P           2228 non-null   float64
 6   FT           3231 non-null   float64
 7   REB          3231 non-null   float64
 8   AST          3231 non-null   float64
 9   STL          3231 non-null   float64
 10  TO           3231 non-null   float64
 11  BLK          3231 non-null   float64
 12  PF           3231 non-null   float64
 13  PTS          3231 non-null   float64
 14  EFF          3231 non-null   float64
 15  ASG          3231 non-null   int64
 16  POM          3231 non-null   int64
 17  T1           3231 non-null   int64
 18  T2           3231 non-null   int64
 19  T3           3231 non-null   int64
 20  DT1          3231 non-null   int64
 21  DT2          3231 non-null   int64
 22  Seasons      3231 non-null   int64
 23  Playoffs     3231 non-null   int64
 24  Finals       3231 non-null   int64
 25  Titles       3231 non-null   int64
 26  HOF          3231 non-null   int64
 27  position     3231 non-null   object
dtypes: float64(12), int64(14), object(2)
memory usage: 732.0+ KB

In [16]:
df.to_csv('file_name.csv')

In [18]:
df.to_csv('C:\\Users\\Shlomit\\Desktop\\HOF-DF-position.csv')