In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\97253\git\Data-Science-Project-2\Improvement_of_hall_of_fame_project\\HOF-DF.csv')

In [4]:
df

,PLAYER_NAME,GP,GS,MIN,FG,3P,FT,REB,AST,STL,...,T1,T2,T3,DT1,DT2,Seasons,Playoffs,Finals,Titles,HOF
0,Alaa Abdelnaby,256,53,12.5,50.2,0.0,70.1,3.3,0.3,0.300000,...,0,0,0,0,0,5,3,1,0,0
1,Tariq Abdul-Wahad,236,145,20.4,41.7,23.7,70.3,3.3,1.1,0.800000,...,0,0,0,0,0,6,2,0,0,0
2,Tom Abernethy,319,0,17.0,49.2,0.0,74.7,3.2,1.2,0.600000,...,0,0,0,0,0,5,2,0,0,0
3,Forest Able,1,0,1.0,0.0,NaN,0.0,1.0,1.0,0.476032,...,0,0,0,0,0,1,0,0,0,0
4,Don Ackerman,28,0,7.9,22.2,NaN,53.6,0.5,0.8,0.476032,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3168,Wes Unseld,984,0,36.4,50.9,50.0,63.3,14.0,3.9,1.100000,...,1,0,0,0,0,13,12,4,1,1
3169,Bill Walton,468,117,28.3,52.1,0.0,66.0,10.5,3.4,0.800000,...,1,1,0,2,0,10,4,3,2,1
3170,Chris Webber,831,827,37.1,47.9,29.9,64.9,9.8,4.2,1.400000,...,1,3,1,0,0,15,10,0,0,1
3171,Larry Bird,897,870,38.4,49.6,37.6,88.6,10.0,6.3,1.700000,...,9,1,0,0,3,13,12,5,3,1
3172,Maurice Stokes,202,0,37.3,35.1,NaN,69.8,17.3,5.3,1.469048,...,0,3,0,0,0,3,1,0,0,1