In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [18]:
dfs = []
for i in range(1,22):
    dfs.append(pd.read_csv(r'C:\Users\97253\git\Data-Science-Project-2\dravings pandas\train\7554\SimpleTest\\' + str(i) + '.csv'))

In [36]:
for df in dfs:
    df[' Time'] = pd.to_datetime(df[' Time'])

In [49]:
dfs[0].columns

Index(['X', ' Y', ' Pressure', ' TiltX', ' TiltY', ' Time'], dtype='object')

In [65]:
dfs[0][' Time'][0].second

31

In [52]:
dfs[0]

,X,Y,Pressure,TiltX,TiltY,Time
0,910.472802864072,888.302113,0.094224,-3875.0,-351.0,2022-06-06 00:05:53
1,910.472802864072,888.302113,0.099107,-3875.0,-351.0,2022-06-06 00:05:54
2,910.472802864072,888.302113,0.123278,-3875.0,-351.0,2022-06-06 00:05:55
3,910.472802864072,888.302113,0.129137,-3875.0,-351.0,2022-06-06 00:05:56
4,909.840859221619,888.460099,0.137926,-3875.0,-351.0,2022-06-06 00:05:57
...,...,...,...,...,...,...
1180,870.449705508719,822.264003,0.682368,-3761.0,823.0,2022-06-06 00:23:46
1181,870.449705508719,822.264003,0.673579,-3761.0,823.0,2022-06-06 00:23:46
1182,870.713015359741,822.369327,0.644038,-3761.0,823.0,2022-06-06 00:23:46
1183,Time Elapsed till drawing started: 00:05.8895936,NaN,NaN,NaN,NaN,NaT
1184,Time Elapsed till drawing submit: 00:26.1312267,NaN,NaN,NaN,NaN,NaT

In [66]:
import random
import matplotlib
from matplotlib import animation
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation
from itertools import count
%matplotlib qt

In [82]:
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation
%matplotlib qt

fig = plt.figure(figsize=(6,4))
axes = fig.add_subplot(1,1,1)
plt.title("Dynamic Axes")

y1 = dfs[1][' Y']
t = dfs[1]['X']
x,y=[] , []

def animate(i):
    x.append(t[i])
    y.append((y1[i]))
    plt.plot(x,y, scaley=True, scalex=True, color="green")

FuncAnimation(fig, animate, interval=100)

In [81]:
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation
%matplotlib qt

fig = plt.figure(figsize=(6,4))
axes = fig.add_subplot(1,1,1)
plt.title("Dynamic Axes")

y1 = [random.randint(-10,10)+(i**1.6)/(random.randint(9,12)) for i in range(0,280,2)]
t = range(len(y1))
x,y=[], []

def animate(i):
    x.append(t[i])
    y.append((y1[i]))
    plt.xlim(i-30,i+3)
    axes.set_ylim(y1[i]-100, y1[i]+100)
    plt.plot(x,y, scaley=True, scalex=True, color="red")

anim = FuncAnimation(fig, animate, interval=100)
anim